{% extends 'base.html' %}

{% block body %}
<div class="card" style="width: 80%;">
    <header class="card-header">
        <h1 class="card-header-title title">
            {% if view %}
            Decrypted Text
            {% else %}
            Decrypt
            {% endif %}
        </h1>
    </header>

    <div class="card-content">
        {% if view %}
        <div class="container" style="word-wrap: break-word;">
            <form style="padding-left: 5%; padding-right: 5%;">
                <div class="field">
                    {{ decryptedText }}
                </div>
            </form>
        </div>
        {% else %}
        <div class="container">
            <form action="{{ url_for('bp.decrypt') }}" method="POST" style="padding-left: 5%; padding-right: 5%;">
                <div class="field">
                    <div class="columns">
                        <div class="column is-2">
                            <label for="key" class="label">Key</label>
                        </div>
                        <div class="column is-10">
                            <input id="key" name="key" class="input" type="text" placeholder="Enter the key here."
                                required>
                        </div>
                    </div>
                </div>
                {% if error %}
                <div class="field">
                    <div class="columns">
                        <div class="column is-2">
                        </div>
                        <div class="column">
                            <p class="help is-danger is-size-6">Invalid key.</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <br>
                <div class="field">
                    <textarea id="textbox" name="textbox" class="textarea" placeholder="Enter the encrypted text here."
                        required></textarea>
                </div>
                <div class="field">
                    <button class="button is-dark is-outlined" type="submit">Submit</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
